/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Open+Sans:wght@400;500;600&display=swap");

/* Base Styles */
/* Left Side: Login Form */
.login-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; /* Align items to the left */
  padding: 20px 20px 20px 0px; /* Reduce left padding */
  background-color:  #f8f9fa;;
}

.login-form h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}


form {
  width: 100%; /* Ensure the form takes full width of its container */
  max-width: 400px; /* Adjust as needed */
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-left: 0; /* Remove any left margin */
  padding-left: 0; /* Remove any left padding */
}

input {
  width: 100%;
  padding: 16px 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border: 2px solid rgba(183, 110, 121, 0.2);
  border-radius: 12px;
  font-family: "Open Sans", sans-serif;
  font-size: 1.1rem;
  color: #2f2f2f;
  transition: all 0.3s ease-in-out;
  margin-bottom: 10px;
}

button {
  background-color: #b76e79;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  padding: 14px 28px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: rgba(183, 110, 121, 0.9);
  box-shadow: 0 8px 20px rgba(183, 110, 121, 0.15);
  transform: scale(1.02);
}

.login-links {
  margin-top: 2rem;
  font-size: 0.875rem;
  color: #6b7280;
}

.login-links a {
  color: #b76e79;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s ease-in-out;
}

.login-links a:hover {
  color: rgba(183, 110, 121, 0.9);
}

/* Modified savings jar container to add more space at the top */
.savings-jar-container {
  position: absolute;
  top: 15%; /* Increased from 23% to add more space at top */
  left: 27%;
  transform: translate(-50%, -50%);
  z-index: 1; /* Ensure it's above other content */
}

@keyframes fill {
  0% {
    height: 30%;
  }
  100% {
    height: 70%;
  }
}

@keyframes drop {
  0% {
    top: -30px;
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    top: 70%;
    opacity: 0;
  }
}
